[submodule "Spring/vendor/spdlog"]
	path = Spring/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Spring/vendor/GLFW"]
	path = Spring/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Spring/vendor/imgui"]
	path = Spring/vendor/imgui
	url = https://github.com/TheCherno/imgui
